<div class="todo-list-manager">
  <h1>ToDo List Manager</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Done</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.name }}</td>
        <td>{{ todo.description }}</td>
        <td>
          <input type="checkbox" [checked]="todo.done" (change)="toggleDone(todo)" />
        </td>
        <td>
          <button (click)="deleteTodo(todo.id)">x</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="todo-form">
    <input type="text" placeholder="Name" [(ngModel)]="newTodo.name" />
    <input type="text" placeholder="Description" [(ngModel)]="newTodo.description" />
    <button (click)="addTodo()">Add</button>
  </div>
</div>
